.add-time-widget 
{
	width: 100%;
	display:flex;
	justify-content: center;
	-ms-flex-align: center;

	#fieldset 
	{
		flex-grow: 10;

		#hoursForm 
		{
			display: flex;
			justify-content: center;
		}
	}
}

#fieldset {
	max-width: 600px;
}

.form-submit {
	width: 100%;
}

.data {
	padding: 32px;
}